.scrolling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40vw;
  margin-top: 50px;
}

.scrolling-text {
  /* width: 50%; */
  color: black;
  /* align-self: center; */
  text-align: center;
  /* margin-bottom: -80px; */
  /* position: fixed; */
  /* bottom: 20px; */
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll-left 4s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}
